<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/navbar'); -%>

            <!-- Page Header-->
            <header id="newuser" class="masthead2">
                <!-- <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')"> -->
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-1 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>Register New User</h1>
                                <!-- <span class="subheading">Go ahead, I dare you! Make a new blog post!</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <!-- <p>Want to get in touch? Fill out the form below to send me a message and I will get
                                back to you as
                                soon as possible!</p> -->
                            <div class="my-5">
                                <form action="/register" method="POST">
                                    <div class="form-floating">
                                        <input class="form-control" name="displayname" id="displayname" type="text"
                                            placeholder="display name" />
                                        <!--data-sb-validations="required"
                                            -->
                                        <label for="name">Displayname (for posts)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input class="form-control" name="email" id="email" type="text"
                                            placeholder="Email" />
                                        <label for="name">Email</label>
                                    </div>
                                    <div class="form-floating">
                                        <input class="form-control" name="password" id="password" type="password"
                                            placeholder="password" />
                                        <label for="name">Password</label>
                                    </div>
                                    <div class="form-floating">
                                        <input class="form-control" name="passwordConfirm" id="passwordConfirm"
                                            type="password" placeholder="passwordConfirm" />
                                        <label for="name">Confirm Password</label>
                                    </div>


                                    <br />

                                    <button class="btn btn-primary text-uppercase" type="submit">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('layouts/footer'); -%>
                <%- include('layouts/scripts'); -%>

    </body>

</html>